.sidebar {
  width: 250px;
  height: 100vh;
  background-color: #000;
  color: #fff;
  padding: 40px 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: fixed;
  left: 0;
  top: 0;
  border-right: 1px solid #333;
}

.profile {
  text-align: center;
}

.avatar {
  border-radius: 2%;
  border-style:none;
  margin-bottom: 1rem;
}

.name {
  font-size: 1.5rem;
  font-weight: bold;
}

.tagline {
  font-size: 0.85rem;
  color: #aaa;
  margin-top: 8px;
  line-height: 1.4;
}

.nav {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  padding-bottom: 30px;
  font-size: 1.1rem;
}

.nav a {
  color: #ccc;
  font-weight: 500;
  transition: all 0.3s ease;
}

.nav a:hover {
  color: white;
  padding-left: 4px;
}
